body {
    background-color: #383d41;
}

div {
    background-color: #292e32;
    border: solid .5vw #292e32;
    color: antiquewhite;
    margin: auto;
    width: 40vw;
    margin-bottom: 1vw;
}

img {
    width: 100%;
}

p {
    font-size: medium;
}

a {
    background-color: #292e32;
    color: #f7b45b;
    font-size: xx-large;
}

span {
    padding: 1vw;
    background-color: #292e32;
    position: fixed;
    height: 100%;
    width: auto;
}
